/* Base styles */
.appHeader {
  background-color: #f4f5f6;
  padding: 20px;
  box-shadow: 3px 0 6px 0 #c9ced5;
}

.appHeader-inner {
  display: flex;
  align-items: center;
}

.companyLogo {
  height: 40px;
  margin-right: 30px;
}

.appTitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

.filtersContainer {
  padding-top: 80px;
}

.newsContainer {
  padding-top: 80px;
}

.newsColumnTitle {
  border-bottom: 1px solid;
  max-width: 240px;
  padding-bottom: 5px;
}

.newsList {
  list-style: none;
  margin-top: 40px;
}

.news {
  border: 1px solid rgba(88, 88, 88, 0.41);
  max-width: 400px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
}

.newsActions {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.readLaterList {
  list-style: none;
}

.readLaterList > li {
  border-bottom: 1px solid rgba(88, 88, 88, 0.41);
  margin-bottom: 3rem;
}

.readLaterItem-title {
  display: inline-block;
  margin-bottom: 5px;
}

.saved {
  box-shadow: 0px 0px 16px 0px rgba(154, 77, 202, 1);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgba(154, 77, 202, 1); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: block;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Larger than mobile screen */
@media (min-width: 40rem) {
  .appTitle {
    font-size: 2.4rem;
  }
}
